# Mac poops
.DS_Store

# logs
logs

# Node modules
node_modules

# Bower components
bower_components

# PHP packages
vendor

# Ignore the "build folder" (because distros are packaged by grunt into dist folder)

build

# Ignore developer's own config

config.json

# Ignore composer lock for now...

composer.lock
completer.hist

wp-cli.yml

_all.min.js
_all.min.css
_btk.js

# tmp

src/composer

gdrivesync.sh

.zip