html,body{
  display:block;
  width:100%;
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:sans-serif;
  font-size:15px;
}
body *, *:before, *:after {
  box-sizing:border-box;
}
body{
  min-width:1000px;
}
form{
  display:block;
  white-space:nowrap;
  padding:1em;
  margin:1em;
  border:1px solid #999;
}
header,h1{
  margin:0;
  padding:0;
}
header{
  margin-bottom:1em;
}
form > div{
  position:relative;
  display:inline-block;
  white-space:normal;
  width:40%;
  height:700px;
  vertical-align:top;
}
form div.images{
  overflow:auto;
  text-align:center;
}
form div.fields{
  width:60%;
}
form img{
  display:inline-block;
  margin:0;
  padding:0;
  vertical-align:top;
  width:calc(150px * .75);
  height:calc(90px * .75);
  border:0;
}
.image-0, .image-1{
  position:relative;
  width:150px;
  height:90px;
  margin:0 calc( 100% - 300px ) 1em calc( 100% - 300px );
  /*height:auto;*/
}
.image-0:before,.image-1:before{
  position:absolute;
  content:'listings';
  top:0;
  left:0;
  margin-left: -5em;
}
.image-1:before{
  content:'slide 1';
}
.field{
  display:block;
  width:100%;
  margin-bottom:1em;
}

.field > label{
  display:inline-block;
  width:40%;
  vertical-align:top;
}
.field > input,.field > textarea{
  width:55%;
}
.field > textarea{
  height:7em;
}
fieldset{
  border:1px dotted #999;
  display:block;
  float:left;
  width:calc(100% - 2em);
  padding-right:calc(100% - 485px);
  margin-bottom:1em;
}
fieldset legend{
  margin-left:-1em;
}
fieldset input,fieldset label{
  margin-bottom:1.25em;
  height:2em;
  line-height:2;
  vertical-align:top;
}
fieldset input[type=checkbox] + label{
  margin-right:2em;
  position:relative;
  padding-left:2em;
}
fieldset input[type=radio] + label{
  margin-right:2em;
}
fieldset label img{
  position:absolute;
  width:2em;
  height:2em;
  top:0;left:0;
  display:inline-block;
  margin-top:-.25em
  
}
