.faq-image{
  display:inline-block;
  vertical-align:top;
  float:left;
  width:20%;
  position:relative;
  backgruond:red;
  background-size:cover;
  background-position:center;
  background-repeat:no-repeat;
  &:before{
    content:'';
    display:block;
    padding-top: 100%;
  }
  border:10px solid #fff;
}
.faq-item{
  cursor: pointer;
  display:inline-block;
  vertical-align:top;
  float:left;
  width:40%;
  position:relative;
  
  &:hover:not(.full) .faq-item-content{
    opacity:0.75;
  }
  &.opened{
    opacity:0.5;
  }
  &.clone{
    opacity:0.5;
    box-shadow:0 0 0 rgba(0,0,0,0);
    transition:all .2s ease-in;
    .faq-answer{
      max-height:0;
      transition:all .25s ease-in;
    }
  }
  &.full{
    opacity:1;
    
  }
  &:before{
    content:'';
    display:block;
    padding-top: 100%;
  }
  .faq-item-content{
    position:  absolute;
    box-sizing:border-box;
    border:10px solid #fff;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
    text-align:center;
  }
}
   .faq-question,.faq-answer{
           font-family: "pragmatica-web-condensed", 'Helvetica Neue', Helvetica, Arial, sans-serif;
           font-size: 28px;
           line-height: 1.1;
           text-transform: none;  
           text-align:left;
           margin:auto;
           
           overflow:hidden;
           text-overflow:ellipsis;
     
   }
.faq-item.full {
       position: fixed;
       top: 50%!important;
       left: 50%!important;
       margin-left:-30vw;
       margin-top:-30vh;
       width: 60vw!important;
       height: 60vh!important;
       box-shadow:0 0 10px rgba(0,0,0,0.15);
       .faq-item-content{
         border:20px solid #fff;
         .faq-question{
           width:calc(~"100% - 80px");
           margin: 40px;
           padding: 40px;
           top: 10%;
           text-align: left;
         }
         .faq-answer{
           width:calc(~"100% - 80px");
           display: block;
           opacity:1;
           margin: 40px;
           bottom:0;
           background: #fff;
           color: #111;
           padding: 20px;
           height: auto;
           max-height:100%;
       
         }
         
       }
       
 }
 .faq-answer{
   width:0;
   height:0px;
   opacity:0;
   margin:0;
   bottom:0;
   overflow:hidden;
   position:absolute;
 }
.faq-answer,.faq-close{
  display:none;
  
}
.faq-question{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

@media all and (max-width:400px){
  // html,body{
  //   background:red;
  // }
  .faq-question,.faq-answer{
    font-size:1rem;
  }

  .faq-item.full {
        position: fixed;
        top: 120px!important;
        left: 0!important;
        margin:0!important;
        width: 100vw!important;
        height: calc(~"100vh - 120px")!important;
        box-shadow:0 0 10px rgba(0,0,0,0.15);
        .faq-item-content .faq-question{
          width:100%;
          margin:0;
          font-size:1.5rem;
        }
        .faq-item-content .faq-answer{
          font-size:1.2rem;
        }
  }
}





