.woocommerce-view-order .box.half:nth-of-type(even) {
    padding-left: .5em;
    border-left: 1px solid #000;
    margin-left: -1px;
}
.woocommerce-view-order .box.half:nth-of-type(odd) {
    padding-right: .5em;
    border-right: 1px solid #000;
    margin-right: 0;
}