.tabbar{
  font-size:1em;
  display:block;
  width:~"calc(100% - 2em)";
  text-align:center;
  margin-left:1em;
  margin-right:1em;
  margin-bottom:1em
}
.tabbar .tab{
  position:relative;
  display:inline-block;
  padding:.1em .5em .2em .5em;
  margin:0 .1em .1em 0;
  color:#999;
  border-bottom:3px solid transparent;
  border-bottom-color:#eee;
  text-align:center;
  transition:all .1s linear;
  width:~"calc(25% - .4em)";
}

.tab[data-invalids]:after{
  content:attr(data-invalids);
  background:red;
  color:#fff;
  display:inline-block;
  padding:.1em;
  width:1.5em;
  height:1.5em;
  margin-left:.5em;
  font-size:.8em;
  border-radius:50%;
  text-align:center;
  border-color:red;
}

.tabbar .tab.active{
  color:#000;
  border-bottom-color:#000;
}
.tabpane{
  display:none;
}
.tabpane.active{
  display:block;
  padding-left:1em;
}
.summary-bar{
  display:block;
  width:~"calc(100% - 2em)";
  margin:0 1em;
  margin-bottom:1em;
  text-align:left;
  white-space:nowrap;
}
.summary-bar h3{
  font-size:1em;
  font-family:@fontfamily; font-weight:normal; color:#999; 
  margin:0 0 .75em 0;
  padding:.25em;
  padding-bottom:.25em;
  border-bottom:1px solid #999;
  // display:none;
}
.summary-bar > div {
    display: inline-block;
    width: ~"calc(25% - 1em)";
    vertical-align: top;
    margin: .5em;
    padding:0;
    overflow:hidden;
    text-align:left;
    background:#eee;
}
.summary-bar > div > div{
  margin:0;
  padding:0 .5em;
  height:auto;
  line-height:1.1;
}
.summary-bar > div > div:first-of-type{
  margin-top:.5em;
}
.summary-bar > div > div:last-of-type{
  margin-bottom:.5em;
}
.summary-bar span{
  font-family:@altfontfamily; font-weight:normal; color:@black; 
  
}
a.tabnext{
  display:inline-block;
  float:right;
  margin-bottom:1em;
  margin-right:.5em;
  padding:.2em .5em;
  
}
a.tabnext:after{
  content:'>';
  background:#000;
  color:#fff;
  display:inline-block;width:2em;
  text-align:center;
  height:2em;
  width:6em;
  margin-top:-.5em;
  margin-left:1em;
}