/*
==========================================================================
Variables LESS
==========================================================================
*/

@black: #000;
@fontfamily: 'Helvetica Neue', Helvetica, Arial, sans-serif;
@fsizemobile: 0.80rem;
@fsizetablet: 0.95rem;
@fsizedesktop: 1rem;
@fsizefull: 1rem;
@white: #fff;
@bkgcolor: #151C22;
@linkcolor: #27343C;
@textcolor: #8999a3;


