/*
==========================================================================
Variables LESS
==========================================================================
*/

@black: #000;
@fontfamily: 'Helvetica Neue', Helvetica, Arial, sans-serif;
@fsizemobile: 0.9rem;
@fsizetablet: 1rem;
@fsizedesktop: 1rem;
@fsizefull: 1rem;
@white: #fff;
@bkgcolor: #151C22;
@linkcolor: #27343C;
@textcolor: #242021;
@hovercolor: #9c9c9c;

@headerbkgcolor: #fff;
@footerbkgcolor: #f0f0f0;

