/*
==========================================================================
Woocommerce Overrides
==========================================================================
*/

.woocommerce-breadcrumb,
.woocommerce-ordering,
.woocommerce-result-count { display:none; }

.woocommerce-checkout, .woocommerce-cart {
	#content .entry-content h1 { margin:10px 15px; }
}
.woocommerce-checkout {
	.qty-add, .qty-sub { display:none; }
}
.woocommerce form.login,
.woocommerce form.register { margin:0; padding:0; border:none; }

.product-color-choice-option .instock{display:block;position: absolute;
    top: 0;
  left: 0;
  font-weight: normal;
  font-size: x-small;
  color: #fff;
  width: 100%;
  white-space: normal;
  height: 100%;
  text-align: center;
  line-height: 3;}

.woocommerce {
	min-height:250px;
// login - register - edit account
	.customer-login, .customer-register, #edit-account,
	#edit-address, #recent-orders, .order-details, .customer-details {
		padding:0 15px 15px;
		h2 { font-size:1.5em; margin:0 0 40px; padding-top:20px; border-top:3px solid @black; }
		p { margin:0 0 1.5em !important; }
		form { margin-bottom:50px !important; }
		fieldset { margin:0; padding:0; border:none; }
	}
	.customer-login, .customer-register, .lost_reset_password,
	#edit-account, #edit-address, form.billing-shipping-edit {
		input[type="submit"] { padding:0.75em 1.8em; background-position:center center; text-indent:-9999px; }
	}
	#edit-address {
		padding:0 0 50px; overflow:hidden;
		> h2 { margin:0 15px 20px; }
		> p { margin:0 15px 1.5em !important; }
		> div {
			padding:0 15px;
			> a { margin:20px 0 10px; }
			> p { clear:both; }
		}
	}
	form.billing-shipping-edit {
		margin-bottom:50px !important; padding:20px 15px 0;
		h2 { margin:10px 0 40px; border:none !important; }
		label { display:none; }
		p {
			margin:0 0 1.5em !important; padding:0;
			&.form-row-first, &.form-row-last { float:none; width:100%; }
			&#billing_state_field, &#shipping_state_field { padding-bottom:1px; border-bottom:2px solid @black; }
			#billing_state, #shipping_state { margin-left:-6px; }
			strong {
				display:inline-block; padding:3px 0; width:100%;
				font-weight:normal; border-bottom:2px solid @black;
			}
			select { border:none; background:transparent; text-transform:lowercase; }
			input { text-transform:lowercase; }
		}
	}
	.customer-details h3 { margin-top:0; }



// order details
	ul.order_details { margin-left:15px; }
	.order-details {
		.order_details {
			div { padding-bottom:4px; }
			.order_item + .order, .order:last-child {
				margin-top:5px; padding-top:15px; border-top:1px solid @black;
			}
			.order:last-child { font-weight:bold; }
		}
	}
	.order-info {
		mark { background:transparent; font-weight:bold; }
	}
	.product-name {
		.variation {
			margin:0 0 0 25px;
			dt { display:inline-block; }
			dd { display:inline-block; margin:0;  p { margin:0 !important; } }
		}
	}
	table.shop_table {
		.order-actions {
			a {
				background:@white; border:1px solid @black; border-radius:0;
				&:hover { background:@black; color:@white; }
			}
		}
	}



// list of products
	ul.products {
		margin:0;
		li.product {
			width:100%; margin:0;
			a img { margin:0; }

			.product-image { display:block; position:relative; }
			.add_to_cart_button { display:none; }
			.price,.product-price {
				margin:0;
				
				del { display:none;}
				ins { background:transparent; font-weight:700; color:transparent; }
				ins .amount:last-of-type{display:none;}
				ins .amount:first-of-type{display:inline-block;color:@black;}

			}
			.in-stock { position:absolute; bottom:15px; left:15px; }
			
			.product-desc {
				.post-titles(); padding:12px;
				.product-title { display:block; font-size:1.35em; font-family:@altfontfamily; line-height:1em; }
				.product-price { font-size:1.15em; }
				> a { margin-bottom:5px; }
			}
			.product-add { &:last-child { border:none; } }
		}
	}
	&.lookbook ul.products {
		li.product .product-image { .imgborder(); }
		.product-color-choice {
			margin:0; padding:0; border:none;
			ul { margin:0; }
		}
	}


	#content {
		div.product {
			text-transform:lowercase;
			div.images {
				float:none; width:100%;
				img { width:100%;height:auto; .imgborder(); }
			}
			.tech { 
			  text-align:center;
			  padding-bottom:25px; 
			  
			  img{ 
			    display:inline-block ;
			    max-width:100%;
			    min-height:50vh;
			    height:50vh;
			    max-height:50vh;
			  }
			}
			div.summary {
				float:none; width:initial; padding:10px 0; margin:0 15px;
				border-top:1px solid @black; border-bottom:1px solid @black;

				h1, h2 { margin:0; font-size:1.4em; }
				p.price, p.product-price {
									margin:0;
				
				del { display:none;}
				ins { background:transparent; font-weight:700; color:transparent; }
				ins .amount:last-of-type{display:none;}
				ins .amount:first-of-type{display:inline-block;color:@black;}


				}
			}

			.woocommerce-tabs {
				ul.tabs { display:none; }
				.panel {
					padding:20px 15px; box-shadow:none;
					> h2 { display:none; }
				}
			}
			.entry-image { position:relative; }
		}
	}



// product summary
	.product {
		.product-images {
			position:relative; padding-bottom:40px;
			img { width:100%; max-height:70vh; }
		// 	l
			.in-stock { position:absolute; bottom:50px; left:15px; z-index:5; }
		}

		.product-color-choice {
			margin-bottom:20px; padding-bottom:10px; text-align:left; .imgborder();
			ul li {
				display:inline-block; margin:0 0 10px 0;
				vertical-align:top;
				width: ~"calc( 100% / 5 )";
				height:4em;
				
				border:none;
				margin:0;
				a { 
				  position:relative;
				  display:inline-block; 
  				width:100%;
  				height:100%; 
  				padding:0 6px 12px;
		  		cursor:pointer; 
			  	background-color:transparent; 
				  margin:0;
				  border:0;
					&.na{display:none; }
					img{
					  min-width:100%;
					  min-height:100%;
					  max-width:100%;
					  max-height:100%;
  					border:2px solid #fff;
				  }
				  &.clicked, &:hover{
				    transform:scale(1.1);
				    transform-origin:center;
				  }
				  // &.clicked:after{
				  //   content:"\f00c";
				  //   font-family:FontAwesome; 
				  //   color:@white;
				  //   position:absolute;
				  //   width: 1em;
      //       height: 1em;
      //       left: 100%;
      //       top: 100%;
      //       margin-left: -2.5em;
      //       margin-top: -2.75em;
				    
				  // }
				}
				// a:hover img{ border:2px solid #000; }

			}
		}


		.product-summary {
			float:none; width:initial; padding:10px 0; margin:30px 15px 0;
			border-top:1px solid @black; border-bottom:1px solid @black;

			h2 { margin:0; font-size:1.35em; }
			p {
				margin:0; font-size:1.15em;
				del { display:none; opacity:0.5; }
				ins { background:inherit; font-weight:700; color:transparent; }
				ins .amount:last-of-type{display:none;}
				ins .amount:first-of-type{display:inline-block;color:@black;}
			}
			.sharing {
				font-size:1.4em;
				a {
					color:#9c9c9c;
					&:hover { color:#666; }
				}
				> span {
					color:#9c9c9c;
					&:hover { color:#666; }
					a { width:18px !important; margin-left:-23px; background:none !important; }
				}
			}
		}

		.product-description {
			padding:20px 15px; .imgborder();
			a {
				display:inline-block; border:1px solid @black; padding:5px 30px;
				&.pr-rev { padding:5px 40px; }
				&:hover, &.active { background-color:@gray; color:@white; }
			}
			.desc { padding-bottom:25px; }
			

		}
		
		.product-add {
			padding:20px 15px; .imgborder();
			form.cart {
				margin:0;
				div.quantity {
					float:right; margin:-5px 0 0;
					a { margin-right:10px; font-size:1.3em; }
					input { border:none; background:transparent; font-size:1.5em; }
					input + a { margin:0 0 0 10px; }
					.qty { width:2em; text-align:right; }
				}
				button {
					float:none; margin:20px 0 20px 10px; .buttons();
					padding:0.75em 2em; background-position:center center;
					border:none; box-shadow:none;
					&:hover { background-color:@gray; }
				}
			}
			.qty-text { padding:6px 0;  }
		}
		
		// Hack to make it look more like in PSD designs because we have not failed, the data has. 
		.product-image:after{
			  content: '';
  				display: block;
  				background-color: rgba(0,0,0,0.1);
  				width: 100%;
  				height: 100%;
  				position: absolute;
  				top: 0;
  				left: 0;
		}

		#reviews {
			display:none; padding:0 15px 20px; .imgborder();
			h2 { font-size:1.5em; margin:0 0 40px; padding-top:20px; }
			h3 { margin:10px 0 20px; }
			p { margin:0 0 1.5em; }
			label { margin-bottom:10px; font-weight:normal; }
			input#submit {
				.buttons(); padding:0.75em 1.8em; text-indent:-9999px;
				background-position:center center;
				background-image:url('data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22iso-8859-1%22%3F%3E%0D%0A%3C%21--%20Generator%3A%20Adobe%20Illustrator%2018.1.1%2C%20SVG%20Export%20Plug-In%20.%20SVG%20Version%3A%206.00%20Build%200%29%20%20--%3E%0D%0A%3Csvg%20version%3D%221.1%22%20id%3D%22Capa_1%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%20x%3D%220px%22%20y%3D%220px%22%0D%0A%09%20viewBox%3D%220%200%20227.096%20227.096%22%20style%3D%22enable-background%3Anew%200%200%20227.096%20227.096%3B%22%20xml%3Aspace%3D%22preserve%22%3E%3Cstyle%20type%3D%22text/css%22%3Ecircle%2C%20ellipse%2C%20line%2C%20path%2C%20polygon%2C%20polyline%2C%20rect%2C%20text%20%7B%20fill%3A%20white%20%21important%3B%20%7D%3C/style%3E%0D%0A%3Cg%3E%0D%0A%09%3Cg%3E%0D%0A%09%09%3Cpolygon%20style%3D%22fill%3A%23010002%3B%22%20points%3D%22152.835%2C39.285%20146.933%2C45.183%20211.113%2C109.373%200%2C109.373%200%2C117.723%20211.124%2C117.723%20%0D%0A%09%09%09146.933%2C181.902%20152.835%2C187.811%20227.096%2C113.55%20%09%09%22/%3E%0D%0A%09%3C/g%3E%0D%0A%3C/g%3E%0D%0A%3Cg%3E%0D%0A%3C/g%3E%0D%0A%3Cg%3E%0D%0A%3C/g%3E%0D%0A%3Cg%3E%0D%0A%3C/g%3E%0D%0A%3Cg%3E%0D%0A%3C/g%3E%0D%0A%3Cg%3E%0D%0A%3C/g%3E%0D%0A%3Cg%3E%0D%0A%3C/g%3E%0D%0A%3Cg%3E%0D%0A%3C/g%3E%0D%0A%3Cg%3E%0D%0A%3C/g%3E%0D%0A%3Cg%3E%0D%0A%3C/g%3E%0D%0A%3Cg%3E%0D%0A%3C/g%3E%0D%0A%3Cg%3E%0D%0A%3C/g%3E%0D%0A%3Cg%3E%0D%0A%3C/g%3E%0D%0A%3Cg%3E%0D%0A%3C/g%3E%0D%0A%3Cg%3E%0D%0A%3C/g%3E%0D%0A%3Cg%3E%0D%0A%3C/g%3E%0D%0A%3C/svg%3E%0D%0A');
			}
			.form-submit { float:right; }
			p.stars a { margin-right:0.8em; }
			#comments {
				ol.commentlist {
					padding:0;
					li {
						img { display:none; }
						p.meta {
							font-size:1em;
							span { display:block; }
							span + span { font-size:0.875em; }
						}
						.comment-text { margin:0 0 0.5em; padding:0; border:none; }
					}
				}
			}
		}

		.recently-viewed {
			margin-bottom:60px;
			> h2 { padding:20px 15px; margin:0; }
			.edb-slider .slide a { display:block; }
			.edb-slider .slide span { display:none; }
		}

		.edb-slider {
		  min-height:200px;
			margin-bottom:10px;
			.slide a { display:none; }
			.controls {
				top:initial; bottom:-40px; padding-top:15px;
				a { font-size:1.25em; vertical-align:middle; }
				> span { color:@black; text-shadow:none; font-weight:normal; }
			}
		}
	}
	
// 	.recently-viewed .edb-slider .slide{
// 	  width:50%;
// 	  height:50%;
// 	}
// 	.recently-viewed .edb-slider .slide + .slide{
// 	  margin-let:50%;
// 	}
	


	.quantity {
		float:right; margin:-5px 0 0;
		a { margin-right:10px; font-size:1.3em; }
		input { border:none; background:transparent; font-size:1.5em; }
		input + a { margin:0 0 0 10px; }
		.qty { width:2.1em; text-align:right; color:@black; }
	}
	.product-color {
		padding:6px 0; 
		a { padding:0.35em 2.65em; cursor:pointer; }
		span { padding-top:10px; }
		span + span { padding:0.35em 2.65em; }
	}
	



// cart
	.cart-contents {
		input[name="update_cart"] {
			float:right; margin:10px 15px 0 0; background-color:@white;
			border:1px solid @black; border-radius:0; font-weight:normal;
		}
		a.remove {
			margin:-5px -5px 0 0; color:@black !important; font-weight:300;
			font-size:2em; line-height:0.7em;
			&:hover { background:transparent; }
		}
		.cart_item { padding:15px 15px 30px; .imgborder(); }
		.product-name, .product-price { font-size:1.1em; }
		.product-thumbnail {
			width:100px;
			img { width:100% !important; margin-bottom:3px; border:1px solid #ccc !important; }
		}
		.product-quantity {
			position:relative; padding-top:25px; border-bottom:1px solid @black;
			p { margin:0 !important; padding:6px 0; }
		}
		.quantity { position:absolute; bottom:-3px; right:0; }
	}

	.cart-collaterals {
		padding:0 15px 30px;
		a {
			.buttons(); padding:0.75em 2.15em; background-position:center center;
			&:hover { background-color:@gray; }
		}
		p {
			margin:45px 0 1.5em !important; font-size:1.2em;
			span { display:block; font-size:0.7em; }
		}
		span + span { clear:both; margin-bottom:10px; }
		.amount { float:right; clear:none; margin-top:45px; padding:5px 10px 6px; border:2px solid @black; }
	}



// checkout
	.checkout {
		margin-bottom:0 !important;
		h3 { margin:0 0 15px; }
		label { font-weight:normal; }
		input { text-transform:lowercase; font-size:0.95em; border-bottom:1px solid @black; }
		p {
			&.form-row {
				margin:0 0 8px !important; padding:0;
				label { display:none; }
				strong { font-weight:normal; font-size:0.95em; }
			}
			&.form-row-first, &.form-row-last { float:none; width:100%; }
			.select2-chosen { font-size:0.95em; }
		}

		#billing_country_field, #billing_state_field { padding-bottom:3px; border-bottom:1px solid @black; }
		#billing_state_field { padding-top:2px; }
		.col2-set {
			margin-bottom:25px; padding:0 15px 95px; .imgborder();
			.col-1 { float:none; width:100%; padding-bottom:20px; }
			.col-2 { display:none; }
		}
		.select2-container .select2-choice { padding:0; border:none; }
		.create-account { display:none; }

		.woocommerce-checkout-review-order-table {
			padding:0 15px 20px;
			p { margin:0; }
			strong { font-weight:normal; }
			.cart_item, .cart-subtotal,
			.cart-discount, .tax-total, .shipping { padding-bottom:4px; }
			.cart-subtotal, .order-total { margin-top:5px; padding-top:15px; border-top:1px solid @black; }
		}
	}

	.forms { position:relative; }
	form.checkout-coupon {
		position:absolute; top:280px; padding:15px; width:100%;
		p { margin:0 !important; padding:0; }
		h3 { margin:0 0 8px; font-size:1.25em; }
		input { font-size:0.95em; border-bottom:1px solid @black; }
		input.input-text { width:73%; }
		.button {
			position:absolute; right:15px; top:35px; font-weight:normal; width:22%;
			background-color:@white; border:1px solid @black; border-radius:0;
			text-align:center;
		}
	}
	.return-to-shop { display:none; }
	.cart-empty { margin-bottom:3em !important; }

	.woocommerce-checkout {
		#payment {
			padding:0 15px; background-color:transparent;
			p.form-row {
				padding:0;
				span { margin-right:5px; }
				label { display:inline-block; }
				#place_order { float:none; }
			}
			.terms { text-align:left; }
			input[type='submit'] {
				padding:0.75em 2em; font-size:1.4em;
				background-position:center center; border-bottom:none;
				&:hover { background-color:@gray; }
			}
		}
	}

	.color-choice {
		display:none; position:fixed; top:0; left:0; width:100%; height:100%;
		background-color:rgba(0, 0, 0, 0.9); z-index:10;
		.back-to-product {
			.back-home-button();
			a.buttons { font-size:2em; }
			span { color:@white; }
		}
		ul li {
			width:100%; .imgborder();
//			float:left; margin-right:20px;
			a { display:block; padding:16px 10px; color:@white; text-shadow:@headertxtshadow; cursor:pointer; }
//			a { display:block; width:70px; height:40px; cursor:pointer; }
		}
		.color-selection {
			display:none; position:fixed; top:0; left:0; width:100%; height:100%;
			background-color:#123; z-index:11;
			.choose-this-color {
				.back-home-button();
				a.buttons { font-size:2em; }
				span { color:@white; text-shadow:@headertxtshadow; }
			}
			> span { padding:16px 10px; color:@white; text-shadow:@headertxtshadow; }
			.cancel {
				padding:0 15px; font-size:2em; cursor:pointer; font-weight:100;
				color:@white; text-shadow:@headertxtshadow;
			}
		}
	}



// error messages
	.woocommerce-message {
		background-color:#5cb85c;
		&:before { content:'\f058'; }
	}

	.woocommerce-info {
		background-color:#5bc0de;
		&:before { content:'\f05a'; }
	}

	.woocommerce-error {
		background-color:#d9534f;
		&:before { content:'\f06a'; }
	}

	.woocommerce-message, .woocommerce-info, .woocommerce-error {
		border:none; color:@white; padding-top:0.85em !important; padding-bottom:0.85em !important;
		a { color:@white; &:hover { color:@black; } }
		&:before { font-family:FontAwesome; display:inline-block; top:0.9em; color:@white; }
		a.button {
			padding:0.4em 1em; background:@black; border-radius:0;
			font-weight:normal; text-transform:lowercase;
			&:hover { background-color:@gray; color:@white; }
		}
	}
}




@media (max-width: 767px) {
	.woocommerce #payment #place_order { width:initial; margin-bottom:0; }
	
}


@media (min-width: 768px) {
	.woocommerce #edit-address > div,
	.woocommerce .customer-details > div { float:left; width:50%; }
	.woocommerce .product #user-product-settings{
	  position:relative;
	  .product-color-choice,
	  .product-add{
	    border:0;
	  }
	  .product-color-choice{
	    width:50%;
	   // ul li{
	  	//   width: ~"calc( 100% / 7 )";
	   // }
	  }
	  .product-add{
	    position:absolute;
	    width:50%;
	    top:15px;
	    left:50%;
	    .qty-text,.product-color{
	      margin-bottom:18px;
	    }
	  }
	}
	
}


@media (min-width: 768px) and (max-width: 991px) {
	.woocommerce ul.products li.product .product-desc { padding:15px; }
	.woocommerce .product .product-color-choice ul li a{
	  padding:0 8px 15px; 
	}
}
@media (min-width: 992px) {
	.woocommerce ul.products li.product .product-desc,
	.woocommerce .product .product-images .controls { padding:20px; }
	
	.woocommerce .product .product-color-choice ul li a{ 
	  padding:0 10px 20px; 
	  
	}

	.ie10, .ie11, .NaN {
		.woocommerce .product .product-images .controls,
		.woocommerce .product .edb-slider .controls { padding-top:60px; }
	}
	
	.woocommerce .product #user-product-settings{
	  position:absolute;
	  top:0px;
	  width:~"calc(100% - 750px)";
	  left:750px;
	 // background:red;
	  margin:0;
	  .controls{
	    bottom:-4em;
	  }
	  .product-color-choice,
	  .product-add{
	    border:0;
	  }
	  .product-color-choice{
	    width:100%;
	    ul li{
	  	  width: ~"calc( 100% / 4 )";
	  	  
	    }
	    ul li a{
	      padding:0px
	    }
	    .instock{
	       transform: rotate(-45deg);
  transform-origin: center;
  top: 50%;
  left: 50%;
  margin: -2em;
	    }
	  }
	  p.center{
	    margin:0;
	    padding:0;
	  }
	  .product-add{
	    position:absolute;
	    width:100%;
	    top:180px;
	    left:0;
	    .qty-text,.product-color{
	      margin:0;
	      padding:0;
	    }
	    .product-color{
	      margin-top:1em;
	    }
	    .qty-text{
	      margin-top:1.5em;
	      
	    }
	    .qty{
	      margin-top:.25em;
	    }
	    p.right{
	      text-align:left;
	      span{
	        margin-top:1.5em;
	      }
	      button{
	        margin-top:.5em;
	        float:right;
	      }
	    }
	    
	    
	  }
	}
}


