/*
==========================================================================
Dependencies
==========================================================================
*/

@import '_s';
@import '_variables';
@import '_global';
@import '_base';




/*
==========================================================================
Overridez
==========================================================================
*/

.fa { font-family:FontAwesome !important; }
.icon-bar { margin-bottom:0; background-color:@black; }
.navbar { min-height:25px; margin-bottom:0; border:none; }
.navbar-toggle { margin:0; }




/*
==========================================================================
Header
==========================================================================
*/

#header-box {
	position:fixed; left:0; width:100%; z-index:10;
	background:@headerbkgcolor; margin-bottom:25px;

	&.open {
		height:100vh; background:url('img/bkg.png') repeat;
		a, p, span { color:@white; }
		.icon-bar { background-color:@white; }
		header { height:100vh; }
	}

	header {
		background:inherit; position:relative; height:@headerheight; padding:10px 0px 10px 15px;
		h1 {
			width:25%; margin:0; font-size:0.9em; line-height:1em;
			span { margin:0; font-size:3em; line-height:1em; letter-spacing:0.05em; }
		}
		div[class*="col-"] { padding:0; }

		nav {
			&.nav-header {
				display:inline-block; padding-top:8px;
				ul li { display:inline-block; margin-right:15px; }
				.menu-header-container { display:inline-block; }
				.language { margin-right:5px; }
			}

			&.nav-hamburger {
				position:absolute; width:100%; right:5px; top:50px;
				.navbar-toggle {
					margin-top:-42px;
					span {
						&.fa { font-size:1.5em; margin:0; }
					}
				}
				.navbar-collapse {
					padding:40px 20px 20px; box-shadow:none;
					ul li { padding:6px 0; }
					a { font-size:1.25em; }
					&.collapsing { transition:height 0.01s; }
				}
			}
		}
		.navigation { margin-right:50px; }

		.sign-in-menu {
			display:none; position:absolute; top:55px; left:0; width:100%; height:89vh; padding:15px;
			.sign-in {
				a {
					&.choices { display:table; }
					span {
						margin:0; font-size:3em; display:table-cell; line-height:0;
						vertical-align:middle; text-align:right;
					}
				}
			}

			.login, .register {
				form {
					padding-top:12px;
					p { margin:0; line-height:0em; }
					p.submit { position:absolute; bottom:120px; right:15px; }
					.lost-password { font-size:0.9em; }
				}
				input { border-color:@white; color:@white; }
				input[type='text'],
				input[type='password'],
				input[type='email'] { padding:2px 0; }
				input[type='submit'] { background-color:#444; }
				::-webkit-input-placeholder { color:@white; }
				::-moz-placeholder { color:@white; }
				:-ms-input-placeholder { color:@white; }
			}
			.register form { padding-top:5px; }

			.choices, .welcome {
				display:block; width:100%; margin-bottom:15px; padding-bottom:15px;
				border-bottom:2px solid @white; line-height:1.25em;
			}
			.welcome { padding-bottom:6px; }

			.back-home {
				display:none; position:absolute; bottom:70px; right:15px;
				a {
					&.button {
						font-size:1.4em; background-color:#444; border:none; cursor:pointer;
						&:hover { background-color:#333; }
					}
				}
			}
		}
	}
}




/*
==========================================================================
Slider
==========================================================================
*/

.bx-viewport, .bx-wrapper { position:relative; top:0; left:0; width:100%; height:100% !important; }

.bx-wrapper {
	margin:0; box-shadow:none; border:0; background:transparent; overflow:hidden;
	img { display:none !important; }
	.bx-pager { bottom:20px; font-size:1em; }
	.caption {
		display:table; width:100%; height:100%;
		h2 { display:table-cell; margin:0; vertical-align:middle; letter-spacing:0.05em; }
	}
	.bx-pager, .caption h2 {
		color:@white;
		text-shadow:-1px -1px 0 #888, 1px -1px 0 #888, -1px 1px 0 #888, 1px 1px 0 #888;
	}
	.bx-controls-direction a {
		top:initial; bottom:12px;
		&.bx-prev { left:25%; }
		&.bx-next { right:25%; }
	}
}

.main-slider {
	height:75vmax; border-bottom:2px solid @black;
	.slider, .slider li { height:100% !important; }
	.slider li { background-repeat: no-repeat; background-position:top center; background-size:cover; }
	.main-controls {
		position:relative;
		p { margin:0; }
		a { position:absolute; width:40px; height:40px; margin:-10px 0 0 -30px; }
		#main-next { right:25%; }
		#main-prev { left:25%; }
		#main-next, #main-prev {
			position:absolute; bottom:20px; color:@white; font-size:1.5em; margin:0;
			text-shadow:-1px -1px 0 #888, 1px -1px 0 #888, -1px 1px 0 #888, 1px 1px 0 #888;
		}
	}
}





/*
==========================================================================
Content
==========================================================================
*/

#content {
	margin-top:@headerheight;
	article {
		.attachment-post-thumbnail { width:100%; border-bottom:3px solid @black; }
		.entry-content {
			margin:0 15px;
			h1 { font-size:1.5em; }
		}
	}
}





/*
==========================================================================
Footer
==========================================================================
*/

#footer-box {
	clear:both; background:@footerbkgcolor; font-size:0.95em;
	footer {
		padding:15px; color:@textcolor;
		p { margin-bottom:0; }
		div[class*="col-"] { padding:0 0 30px; }

		.social {
			margin-top:17px;
			ul {
				li {
					display:inline-block; padding-right:4px;
					&:last-child { padding-right:0; }
					a {
						font-size:1.5em; color:#9c9c9c;
						&:hover { color:#666; }
					}
				}
			}
		}

		.synved-social-button {
			display:inline-block;
			font:normal normal normal 14px/1 FontAwesome;
			font-size:inherit;
			text-rendering:auto;
			-webkit-font-smoothing:antialiased;
			-moz-osx-font-smoothing:grayscale;
			transform:translate(0, 0);

			width:19px !important; height:19px !important;
			font-size:1.5em !important; color:#9c9c9c !important;
			&:hover { color:#666 !important; }
			img { display:none !important; }
		}

		.synved-social-provider-facebook:before { content: "\f082"; }
		.synved-social-provider-twitter:before { content: "\f081"; }
		.synved-social-provider-pinterest:before { content: "\f0d3"; }
		.synved-social-provider-instagram:before { content: "\f16d"; }
		.synved-social-provider-youtube:before { content: "\f166"; }
		.synved-social-provider-tumblr:before { content: "\f174"; }

		.norton {
			clear:both; padding-top:15px; border-top:2px solid #333;
			img { width:100px; }
			div[class*="col-"] { padding-bottom:10px; }
			.cc {
				padding-top:14px;
				ul li { display:inline-block; }
				span { margin:0; font-size:2em; color:#9c9c9c; }
			}
		}
	}

	#back-to-top {
		background:#333; width:100%;
		a { display:block; padding:5px 0; color:@white; }
	}
}



