#toast{
  opacity:0;
  position: fixed;
  top: 100vh;
  display: block;
  width: 100%;
  height: 55vh ;
  box-sizing:border-box;
  
  min-height:50vh;
  max-height: 50vh;
  line-height:1.3;
  text-align:center;
  margin-top: 100vh;
  background: #fff;
  box-shadow: 0 0 20vh 2px rgba(0, 0, 0, 0.5);
  z-index: 99999999;
  transition:all .2s ease-in;
}   
#toast:after{
  content:'';
  background:#fff;
  width:100%;
  height:100px;
  position:absolute;
  top:100%;
  left:0;
}
#toast.show{
  margin-top:-55vh;
  opacity:1;
  transition:all 1s ease-out;

}
#toast form{
  
  position:static;
}
#toast .page{
  display:block;
  width:750px;
  box-sizing:border-box;
  height:calc(100% - 2em);
  padding:1em;
  margin-left:auto;
  margin-right:auto;
  
  text-align:center;
}
// #toast .image{
//   display:inline-block;
//   width:40%;
//   min-height:80%;
//   margin-top:2em;
  
//   margin-right:1em;
//   text-align:center;
//   position:relative;
//   background-position:center;
//   background-size:cover;
//   background-repeat:no-repeat;
// }
#toast .image {
    display: inline-block;
    width: ~"calc(50% - 1em)";
    min-height: ~"calc(100% - 2em)";
    max-height: ~"calc(100% - 2em)";
    margin-top: 1em;
    margin-right: 0;
    margin-bottom:1em;
    text-align: center;
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    
}
#toast .content{
  display:inline-block;
  max-width:49%;
  margin-top:1em;
  padding:0 1em;
  
}
#toast .image,#toast .content{
  vertical-align:top;
  height:100%;
}
#toast .title,
#toast .body{
  max-width:100%;
  display:block;
  text-align:left;
}
#toast .page input[type="submit"]{
  // float:right;
  position: absolute;
    top: 100%;
    left:50%;
    margin-top: -6.25em;
}
#toast .page p{
  margin-bottom:1em;
}
#toast .ty{
  font-size:2em;
  text-transform:uppercase;
  line-height:4em;
  text-align:center;
  width:100%;
}
#toast div.wpcf7-validation-errors,
#toast div.wpcf7-mail-sent-ok{
  position: absolute;
  top: -4em;
  padding: 1em;
}
#toast span.wpcf7-not-valid-tip {
  color: #f00;
  font-size: 1em;
  display: block;
  margin-bottom: -.75em;
}
#toast a.close{
  position:absolute;
  top:1em;
  right:1em;
  color:#000!important;
  font-weight:bold;
  z-index:99999;
}




@media all and (max-width:700px){
  #toast{
    max-height:100vh;
    min-height:100vh;
  }
 #toast .page{
   width:100%;
   max-height:none;
   min-height:100vh;
 } 
 #toast.show{
   margin-top:-100vh;
   min-height:100vh;
 }
 #toast .image{
   width:~"calc(100% - 2em)";
   min-height:30vh;
   max-height:30vh;
   margin-top:4em;
   margin-bottom:4em;
 } 
 #toast .content{
   width:~"calc(100% - 2em)";
   min-width:~"calc(100% - 2em)";
   margin-left:1em;
   margin-right:1em;
 }
 #toast .close{
   position:absolute;
   top:0;
   right:0;
 }
// #toast .page input[type="submit"]{
//   // float:right;
//   background:Red;
//   }
}