
 .icon-arrow-lite-left-white {
	background-image: url('png/arrow-lite-left-white.png');
	background-repeat: no-repeat;
}

 .icon-arrow-lite-left-black {
	background-image: url('png/arrow-lite-left-black.png');
	background-repeat: no-repeat;
}

 .icon-arrow-lite-left-grey {
	background-image: url('png/arrow-lite-left-grey.png');
	background-repeat: no-repeat;
}

 .icon-arrow-lite-right-white {
	background-image: url('png/arrow-lite-right-white.png');
	background-repeat: no-repeat;
}

 .icon-arrow-lite-right-black {
	background-image: url('png/arrow-lite-right-black.png');
	background-repeat: no-repeat;
}

 .icon-arrow-lite-right-grey {
	background-image: url('png/arrow-lite-right-grey.png');
	background-repeat: no-repeat;
}

 .icon-chevron-lite-left-white {
	background-image: url('png/chevron-lite-left-white.png');
	background-repeat: no-repeat;
}

 .icon-chevron-lite-left-black {
	background-image: url('png/chevron-lite-left-black.png');
	background-repeat: no-repeat;
}

 .icon-chevron-lite-left-grey {
	background-image: url('png/chevron-lite-left-grey.png');
	background-repeat: no-repeat;
}

 .icon-chevron-lite-right-white {
	background-image: url('png/chevron-lite-right-white.png');
	background-repeat: no-repeat;
}

 .icon-chevron-lite-right-black {
	background-image: url('png/chevron-lite-right-black.png');
	background-repeat: no-repeat;
}

 .icon-chevron-lite-right-grey {
	background-image: url('png/chevron-lite-right-grey.png');
	background-repeat: no-repeat;
}

 .icon-close-lite-white {
	background-image: url('png/close-lite-white.png');
	background-repeat: no-repeat;
}

 .icon-close-lite-black {
	background-image: url('png/close-lite-black.png');
	background-repeat: no-repeat;
}

 .icon-close-lite-grey {
	background-image: url('png/close-lite-grey.png');
	background-repeat: no-repeat;
}