
.icon-arrow-lite-left {
	background-image: url('png/arrow-lite-left.png');
	background-repeat: no-repeat;
}

.icon-arrow-lite-right {
	background-image: url('png/arrow-lite-right.png');
	background-repeat: no-repeat;
}

.icon-checkmark-lite {
	background-image: url('png/checkmark-lite.png');
	background-repeat: no-repeat;
}

.icon-chevron-lite-down {
	background-image: url('png/chevron-lite-down.png');
	background-repeat: no-repeat;
}

.icon-chevron-lite-left {
	background-image: url('png/chevron-lite-left.png');
	background-repeat: no-repeat;
}

.icon-chevron-lite-right {
	background-image: url('png/chevron-lite-right.png');
	background-repeat: no-repeat;
}

.icon-chevron-lite-up {
	background-image: url('png/chevron-lite-up.png');
	background-repeat: no-repeat;
}

.icon-close-lite {
	background-image: url('png/close-lite.png');
	background-repeat: no-repeat;
}